extends: default

rules:
  # Disable line length rule for GitHub Actions workflows
  line-length: disable
  
  # Allow GitHub Actions specific syntax
  truthy:
    allowed-values: ['true', 'false', 'on', 'off']
    check-keys: false
  
  # Allow comments in GitHub Actions workflows
  comments: disable
  
  # Allow GitHub Actions expressions
  quoted-strings: disable
